footer {
	position: relative;
	padding: 5rem;
	font-size: 3rem;
	border-left: 1rem solid black;
	border-right: 1rem solid black;
	border-bottom: 1rem solid black;
	transform: skew(50deg);
	text-align: center;
	background-color: black;
	margin-top: -1rem;
	min-width: 90%;
}
footer p {
	transform: skew(-50deg);
	min-width: 100%;
}
